@import "parallax_style.css";
.parallax {
  --parallax-width: 90vw;
  --parallax-height: 100vh;
  --parallax-perspective: 100vh;
  width: var(--parallax-width);
  height: var(--parallax-height);
  perspective: var(--parallax-perspective);
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Use a defined size containing block with 3D.
 * This allows us to place the children relative to the group.
 */
.parallax .parallax-group {
  width: var(--parallax-width);
  height: var(--parallax-height);
  position: relative;
  transform-style: preserve-3d;
}
/* Make the children of .parallax-group full size */
.parallax .parallax-group > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
