.parallax {
  --parallax-width: 90vw;
  --parallax-height: 100vh;
  --parallax-perspective: 100vh;
  width: var(--parallax-width);
  height: var(--parallax-height);
  perspective: var(--parallax-perspective);
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Use a defined size containing block with 3D.
 * This allows us to place the children relative to the group.
 */
.parallax .parallax-group {
  width: var(--parallax-width);
  height: var(--parallax-height);
  position: relative;
  transform-style: preserve-3d;
}
/* Make the children of .parallax-group full size */
.parallax .parallax-group > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*
 * Transform the group in 3D space so they can scroll and different speeds.
 */
.parallax-group .background {
  /* background is at 0,0,0 */
}
.parallax-group .content {
  transform: translateZ(10vh) translateX(10vh) scale(0.8);
}
.parallax-group .preview {
  left: auto;
  transform: translateZ(50vh) translateY(30vh) scale(0.8);
}




/*
 * Team/Content Style and placement.
 * This is the content inside the parallax.
 */
.team .content {
  width: 50%;
  background-color: #ffffffaa;
}
.team .preview {
  width: 50%;
  height: 0; /* Use transform on y without height offset. */
}
.team .preview img {
  width: 20vw;
}
/* Background set on a sibling, instead of the parent.
 * because `filter` will affect all children.
 */
.team .background {
  filter: blur(5px);
  background-size: contain;
}
.team--red .background {
  background-image: url(https://images.freeimages.com/images/large-previews/48e/red-light-1172553.jpg);
}
.team--blue .background {
  background-image: url(https://images.freeimages.com/images/large-previews/904/blue-1185044.jpg);
}
.team--green .background {
  background-image: url(https://images.freeimages.com/images/large-previews/235/green-1395992.jpg);
}






/*
 * styles just to make the demo look nice.
 */
.parallax.demo {
  border: #AAAAAA;
  background-color: #85144bdd;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px #aaa;
}
