
:root {
  --color-background: #111;
  --color-text: white;
  --color-link: #7FDBFF;
}

body {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}


#elCanvas {
  width: 80%;
  /* height: 70%; */
}
